/* Movimento da Thumb */
.container.next .thumb {
    animation: effectNextThumb 0.5s linear 1 forwards;
}

@keyframes effectNextThumb {
    from {
        transform: translateX(80px);
    }
}

/* Movimento última Thumb */
.container.next .thumb .thumb-item:nth-last-child(1){
    animation: effectLastThumb 0.5s linear 1 forwards;
}

@keyframes effectLastThumb {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }
}

/* Textos Principais */
.container .list .list-item:nth-last-child(1) .content .title,
.container .list .list-item:nth-last-child(1) .content .description,
.container .list .list-item:nth-last-child(1) .content .buttons {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.4s 0.5s linear 1 forwards;
}

@keyframes showContent {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.container .list .list-item:nth-last-child(1) .content .title {
    animation-delay: 1s;
}

.container .list .list-item:nth-last-child(1) .content .description {
    animation-delay: 1.2s;
}

.container .list .list-item:nth-last-child(1) .content .buttons {
    animation-delay: 1.4s;
}

/* Imagem Principal Next */
.container.next .list .list-item:nth-last-child(1) img {
    width: 100px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    border-radius: 10px;
    animation: showMainImage 0.5s linear 1 forwards;
}

@keyframes showMainImage {
    to {
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

/* Imagem Principal Back */
.container.back .list .list-item:nth-child(1) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: hideMainImage 0.5s linear 1 forwards;
    z-index: 2;
}

@keyframes hideMainImage {
    to {
        width: 100px;
        height: 150px;
        border-radius: 10px;
        left: 50%;
        bottom: 10px;
    }
}