body {
    background: #000;
}

header {
    width: 100%;
    height: 35px;
    padding: 15px 60px;
    position: fixed;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    color: #E0E0E0;
    font-weight: 900;
}

header h2 span {
    color: #00BFFF;
}

nav ul {
    padding: 2px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 10px;
    transition: all 500ms ease-in-out;
}

nav ul li a:hover {
    border-bottom: 1px solid #00BFFF;
    color: #00BFFF;
}

.home {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(38, 61, 235, 1) 25%, rgba(11, 11, 13, 1) 41%, rgba(32, 57, 242, 1) 69%, rgba(17, 17, 18, 1) 93%, rgba(23, 50, 252, 1) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.home::before {
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 1));
}

.person {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.person h1 {
    color: #E0E0E0;
    font-size: 3em;
    font-weight: 500;
}

.person h2 {
    color: #00BFFF;
    font-size: 2em;
    font-weight: 500;
    margin: 10px 0 20px;
}

.person p {
    color: #E0E0E0;
    font-size: 1.15em;
    font-weight: 100;
}

.bnts ul {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.bnts ul li {
    color: #E0E0E0;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

.bnts ul li a {
    color: #00BFFF;
    font-size: 1.5em;
}

.bnts ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}

.about {
    width: 100%;
    height: 100vh;
    background: linear-gradient(194deg,rgba(0, 0, 0, 1) 42%, rgba(9, 9, 121, 0.6) 100%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h3 {
    color: #E0E0E0;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 70px;
}

.about-info {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about p {
    color: #E0E0E0;
    font-size: 1.15em;
    font-weight: 100;
}

.about p span {
    color: #00BFFF;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.skills h4 {
    color: #ffffff;
}

.skills ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.skills ul li:nth-child(1) {
    color: #F0631F;
}

.skills ul li:nth-child(2) {
    color: #2F5EEC;
}

.skills ul li:nth-child(3) {
    color: #DF523C;
}

.skills ul li:nth-child(4) {
    color: #9708FF;
}

.skills ul li:nth-child(5) {
    color: #FFD708;
}

.skills ul li:nth-child(6) {
    color: #08D9FF;
}

.projects {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.projects h3 {
    color: #E0E0E0;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 30px;
}

.projects .container {
    width: 70%;
    height: 70%;
    box-shadow: 1px 1px 273px 13px rgba(47, 94, 236, 0.5);
    -webkit-box-shadow: 1px 1px 273px 13px rgba(47, 94, 236, 0.5);
    -moz-box-shadow: 1px 1px 273px 13px rgba(47, 94, 236, 05);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.list-item {
    width: 100%;
    height: 100%;
    position: absolute;
}

.list-item .list-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(60%);
}

.list-item .content {
    max-width: 500px;
    position: absolute;
    top: 30px;
    left: 30px;
    text-shadow: 0 5px 10px #000;
}

.list-item .content h4 {
    color: #E0E0E0;
    font-size: 5em;
    font-weight: 700;
    line-height: 1.3em;
}

.list-item .content .description {
    color: #E0E0E0;
    font-size: 1em;
}

.list-item .content .buttons {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 20px;
    margin-top: 30px;
    gap: 5px;
}

.list-item .content .buttons button {
    border: none;
    background-color: #E0E0E0;
    font-size: 0.8em;
    letter-spacing: 3px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}

.list-item .content .buttons button:hover {
    background: transparent;
    border: 1px solid #2F5EEC;
    color: #2F5EEC;
    transition: 0.7s;
}

.list-item .content .buttons button:nth-child(2) {
    background: transparent;
    border: 1px solid #2F5EEC;
    color: #2F5EEC;
}

.list-item .content .buttons button:nth-child(2):hover {
    background-color: #E0E0E0;
    color: #000;
}

.thumb {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: flex;
    gap: 20px;
}

.thumb .thumb-item {
    min-width: 100px;
    max-width: 100px;
    min-height: 150px;
    max-height: 150px;
    position: relative;
    z-index: 3;
}

.thumb .thumb-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(80%);
}

.thumb .thumb-item .content {
    position: absolute;
    bottom: 2px;
    left: 10px;
    text-shadow: 0 5px 10px #000;
}

.thumb .thumb-item .content h4 {
    color: #fff;
    font-size: 1em;
}

.thumb .thumb-item .content p {
    color: #E0E0E0;
    font-size: 0.6em;
}


.projects .container .arrows {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 300px;
    z-index: 99;
}

.projects .container .arrows button {
    background: #2F5EEC;
    color: #E0E0E0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: 700;
    padding: 10px;
}

.projects .container .arrows button:hover {
    background: transparent;
    transition: 0.7s;
}

.secForm {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secForm h3 {
    color: #E0E0E0;
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 30px;
}   

.secForm form {
    width: 30%;
    min-width: 350px;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 83px -10px rgba(47, 94, 236, 0.5);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.secForm form input {
    min-width: 320px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #2F5EEC;
    margin-top: 20px;
    padding-left: 10px;
}

.secForm form textarea {
    width: 320px;
    height: 150px;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.secForm form button {
    min-width: 320px;
    height: 30px;
    border-radius: 5px;
    background: #2F5EEC;
    color: #E0E0E0;
    margin-top: 20px;
    cursor: pointer;
}

.secForm form button:hover {
    background: transparent;
    border: 1px solid #2F5EEC;
    color: #2F5EEC;
    transition: 0.7s ease-in-out;
}

.secForm form button:active {
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

footer {
    width: 100%;
    height: 100px;
    background: linear-gradient(-360deg,rgba(0, 0, 0, 1) 40%, rgba(9, 9, 121, 0.6) 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

footer ul li a {
    color: #00BFFF;
    font-size: 1.5em;
}

footer ul li {
    color: #E0E0E0;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
}

footer ul li:hover {
    transform: scale(1.1);
    opacity: 1;
}

footer p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #E0E0E0;
    font-size: 0.8em;
}